/* ------------------ CONTACT STYLES--------------------------- */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}

.contact-us-details {
  display: flex;
  align-items: start;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.address {
  line-height: 2;
}

.map img {
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.opening-hours table {
  margin-top: 30px;
  border: 1px solid gray;
  border-collapse: collapse;
}

.opening-hours th {
  padding: 10px;
}

.opening-hours td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
}

.opening-hours tr:nth-child(even) {
  background-color: var(--gold-color);
}
