/* ------------------ MENU STYLES--------------------------- */

#menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 50px 10px;
}

.menu-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  justify-content: center;
  padding-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.3s ease;
}
.card img {
  border-radius: 10px;
  height: 200px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(2deg);
}
